<p id="notice"><%= notice %></p>

<div class="span4">
<p>
  <strong>Name:</strong>
  <%= @intro.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @intro.sex %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @intro.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @intro.email %>
</p>

<p>
  <strong>Position:</strong>
  <%= @intro.position %>
</p>

<p>
  <strong>Info:</strong>
  <%= @intro.info %>
</p>
</div>
<div class="span8">
<p>
  <img src="<%= @intro.photo %>"/>
</p>
</div>
